#!/bin/sh

systemctl --user import-environment DISPLAY
xinput --set-prop 10 "libinput Tapping Enabled" 1
picom --backend glx --vsync -b
hsetroot -fill $HOME/pictures/wallpaper/"Hiroshi Nagai - Farm".jpg &

xrdb $HOME/.Xresources & xrdbpid=$!
xss-lock -- slock &

autostart="sxhkd dunst clipmenud dwmblocks"
for program in $autostart; do
    pidof -sx "$program" || "$program" &
done >/dev/null 2>&1

[ -n "$xrdbpid" ] && wait "$xrdbpid"
