#!/bin/bash

systemctl --user import-environment DISPLAY

xinput --set-prop 9 "libinput Tapping Enabled" 1

xrdb -merge "$HOME"/.Xresources

programs=(
    sxhkd \
    dunst \
    dwmblocks \
    clipmenud \
    poweralertd \
    "xss-lock -- slock" \
    "picom --backend glx --vsync -b" \
    "hsetroot -fill $XDG_DATA_HOME/bg.jpg"
)

for program in "${programs[@]}"; do
    pidof -sx "${program%% *}" || ${program} &
done >/dev/null 2>&1
