#!/bin/bash

systemctl --user import-environment DISPLAY

setxkbmap -model thinkpad -layout us -option caps:none

xinput --set-prop 'Synaptics TM3381-002' 'libinput Tapping Enabled' 1
xinput --set-prop 'TPPS/2 Elan TrackPoint' 'libinput Accel Speed' 1.000000
xinput --set-prop 'TPPS/2 Elan TrackPoint' 'libinput Natural Scrolling Enabled' 1

xrdb -merge "$HOME"/.Xresources

programs=(
    sxhkd \
    dunst \
    dwmblocks \
    "xss-lock -- slock" \
    "copyq --start-server" \
    "batsignal -w 20 -c 10 -d 5 -f 80 -b" \
    "hsetroot -fill $XDG_DATA_HOME/bg.jpg" \
    "picom --config $XDG_CONFIG_HOME/picom/picom.conf -b"
)

for program in "${programs[@]}"; do
    pidof -sx "${program%% *}" || ${program} &
done >/dev/null 2>&1
